.main-container{
    justify-content: space-between;
    padding: 8px;
    margin: auto;
    max-width: 450px;
    min-width: 200px;
    text-align: start;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.28);
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.28);
}

input{
    outline-width: 0;
    border: 0;
    width: 85%;
}

.costum-button{
    background-color: white;
    border: 0;
    color: grey;
    font-weight: 600;
}

.costum-button:hover{
    background-color: rgb(240, 240, 240);
}